html, body {
  background-color: #303030;
  font-family: 'Ropa Sans', sans-serif;
  margin: 0;
  padding: 0;
}

nav ul {
  align-items: center;
  background-color: #0c0c0c;
  color: #fff;
  display: flex;
  height: 50px;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li {
  justify-content: space-around;
  list-style-type: none;
}

nav ul li a:hover {
  color: #3db8db;
  transition: 0.3s ease;
}

footer {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

footer p a {
  color: #3db8db;
  font-size: 20px;
  text-decoration: none;
}

nav ul li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

footer p a:hover {
  color: #000;
  transition: 0.3s ease;
}

.banana {
  background: url("assets/banana.jpg");
}

.cabbage {
  background: url("assets/cabbage.jpg");
  color: red;
}

.container-fruit {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-info .button p a {
  text-decoration: none;
  color: #fff;
}

.container-info .button p:hover {
  background-color: #fff;
  transition: 0.3s ease;
}

.container-info .button p a:hover {
  color: #000;
  transition: 0.3s ease;
}

.display-img {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 350px;
  margin: 10px 0;
  width: 95%;
}

.display-img .container-info {
  margin-left: 20px;
}

.display-img h1 {
  font-size: 40px;
}

.display-img p {
  font-size: 20px;
}

.display-img .button {
  border: #fff 3px solid;
  display: inline-block;
}

.display-img .button p {
  margin: 0;
  padding: 0 5px;
}

.more-info {
  background-color: #fff;
  color: #000;
  height: 400px;
}

.more-info-footer {
  border-top: #606060 1px solid;
  display: flex;
}

.more-info * {
  margin: 0 10px;
}

.more-info h3 {
  color: #3db8db;
  font-size: 30px;
  margin: 10px;
}

.more-info h4 {
  font-size: 25px;
}

.orange {
  background: url("assets/orange.jpg");
}

.title {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
}

.title h1{
  color: #fff;
  margin: 0;
  padding: 0;
}
